{% load static %}
{% include 'common/cssfileincluder.html' %}
  <html>
  <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>HRMS </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest"    >
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/helogo.png' %}">

	</head>
   <body >
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'img/helogo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header style="background: -webkit-linear-gradient(left, #3931af, #00c6ff);;">
        <!-- Header Start -->
       <div class="header-area header_area header-black" style="background: -webkit-linear-gradient(left, #dcf8ff, #12ffe6);;">
            <div class="main-header">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-1 col-md-1">
                                <div class="logo">
                                  <a href="#"><img src="{% static 'img/header_img/hr (1).png' %}" alt="" width="100"></a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-2 col-md-2">
                                <!-- Main-menu -->
                                <div class="main-menu f-center d-none d-lg-block">
                                    <nav>
                                        <h1 style="text-align: center">--Interviewer--</h1>
                                    </nav>
                                </div>
                            </div>



                            <div class="col-xl-2 col-lg-3 col-md-3" >
                                <div class="header-right-btn f-right d-none d-lg-block">
                                    <a href="{% url 'logout' %}" class="btn header-btn">
{#                                        <img src="{% static 'img/logout.jpg' %}" width="">#}
                                    logout
                                    </a>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>


   </body>
  {% include 'common/jsfile.html' %}
  </html>