{% include 'H_Admin/Admin_homepage.html' %}
{% load static %}
<html>
    <body>
        <form>
            <table align="center" border="1" style="background-color: lightblue">
                <tr style="font-size: 22px;text-align: center">
                    <th>EmployeeID</th>
                    <th>EmployeeName</th>
                    <th>Password</th>
                    <th>Designation</th>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th>EmailID</th>
                    <th>Update</th>
                </tr>
                {% for x in data %}
                    <tr>
                    <th>{{ x.EmployeeID }}</th>
                    <th>{{ x.EmployeeName}}</th>
                    <th>{{ x.Password }}</th>
                    <th>{{ x.Designation }}</th>
                    <th>{{ x.Address }}</th>
                    <th>{{ x.Contact_No }}</th>
                    <th>{{ x.EmailID }}</th>
                    <th>
                        <a href="{% url 'updateEmployeeform' %}?eid={{ x.EmployeeID }}"><img src="{% static 'img/Refresh_27873.png'%}" width="50"> </a>
                    </th>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </body>
</html>