<html>
    <body>
        <div align="center" style="background-color: darkorange">
            <h1 style="font-size: 90px">HR Management System</h1>
        </div>
        <div style="background-color: lightgray;font-size: 40px;font-family:Algerian">
    <table align="center">
        <tr style="font-size: 30px;">
            <th>
                <a href="{% url 'admin' %}">
                    Admin
                </a>
            </th>
            <th width="90"><h1></h1></th>
            <th>
                <a href="{% url 'managerhomepage' %}">
                    Manager
                </a>
            </th>
            <th width="90"><h1></h1></th>
            <th>
                <a href="{% url 'applicant' %}">
                    Applicant
                </a>
            </th>
            <th width="90"><h1></h1></th>
            <th>
                <a href="{% url 'interviewer' %}">
                    Interviewer
                </a>
            </th>
            <th width="90"><h1></h1></th>
            <th>
                <a href="{% url 'hrheadhomepage' %}">
                    HRHead
                </a>
            </th>
        </tr>
    </table>
        </div>
    </body>
</html>